<h1>There are <%= @players.count %> players in our league</h1>

<table>
  <thead>
    <tr>
      <td><strong>First Name</strong></td>
      <td><strong>Last Name</strong></td>
      <td><strong>Actions</strong></td>
    </tr>
  </thead>

  <tbody>
    <% @players.each do |player| %>
    <tr>
      <td><%= player.first_name %></td>
      <td><%= player.last_name %></td>
      <td>
        <a href="/players/<%= player.id %>">Show Profile</a> |
        <a href="/players/<%= player.id %>/edit">Edit Profile</a>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<a href="/players/new">New Player</a>
